@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Righteous&display=swap');
@tailwind base;
@tailwind component;
@tailwind utilities;

body {
  @apply bg-[#121212];
  min-height: 100vh;
  max-width: 100vw;
  font-family: Poppins
}

input[type='checkbox']{
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	margin: 0;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	color: white;
	border-radius: .15em;
	cursor: pointer;
	display: grid;
	place-content: center;
	align-items: center
}

input[type='checkbox']::before {
	content: "";	width: 5px;
	height: 10px;
	border: 1px solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: none
}

input[type='checkbox']:checked::before {
	display: block;
}

.changebtn::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 70%;
	background-color: white;
	bottom: 0;
	left: 0
}